body {
  line-height: inherit;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

b,
strong {
  font-weight: 700;
}

small {
  font-size: 80%;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img,
svg {
  display: block;
}

img,
video {
  height: auto;
  max-width: 100%
}