@import "./reset.css";

:root {
  --bg-color: #fefefe;
  --border: 1px solid var(--color);
  --color: #222;
  --header-height: 4rem;
  --text-lg: clamp(1.25rem, 7.5vmin, 2.5rem);
  --text-xl: clamp(1.5rem, 8.75vmin, 3rem);
  --text-xxl: clamp(1.75rem, 10vw, 3.5rem);
}

html {
  font-family: "Poppins", sans-serif;
}

@media (min-width: 1500px) {
  html {
    font-size: 18px;
  }
}

body {
  background: var(--bg-color);
  color: var(--color);
  overflow-x: hidden;
}

.page {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.page-wrapper {
  min-height: 100vh;
}

.page-header {
  align-items: center;
  background: var(--bg-color);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  display: flex;
  height: var(--header-height);
  justify-content: space-between;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.site-logo {
  border-radius: 100%;
  height: 3rem;
  margin-inline-start: 1rem;
  width: auto;
}

.page-nav {
  display: flex;
  gap: 1rem;
  margin-inline-end: 1.5rem;
}

.page-nav a[aria-current="page"] {
  text-decoration: underline;
}

.page-content {
  margin-block-start: var(--header-height);
  padding: 1.5rem;
}

.page-footer {
  align-items: center;
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 1rem 2rem;
  justify-content: center;
  padding: 0 1.5rem 1.5rem;
}

.bmc-link {
  width: 8rem;
}