html {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #fefefe;
  color: #222;
}

.page {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.page-wrapper {
  min-height: 100vh;
}

.page-header {
  align-items: center;
  background: #fefefe;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  left: 0;
  padding-block: 0.5rem;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.site-logo {
  border-radius: 100%;
  height: 3rem;
  margin-inline-start: 1rem;
  width: auto;
}

.page-nav {
  display: flex;
  gap: 1rem;
  margin-inline-end: 1.5rem;
}

.page-content {
  margin-top: 64px;
  padding: 1.5rem;
}

.page-footer {
  align-items: center;
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 1rem 2rem;
  justify-content: center;
  padding: 0 1.5rem 1.5rem;
}

.bmc-link {
  width: 8rem;
}

a[aria-current] {
  text-decoration: underline;
}