@use "../../utils/style" as *;

.Home {
  width: 100%;

  &__content {
    margin-inline: auto;
    max-width: $lg;
    padding-inline: 1.5rem;
  }

  &__portfolio-title {
    margin-block: 12rem 8rem;
  }

  &__description {
    margin: 4rem auto;
  }
}