@import "../styles/global.css";

.blog-post {
  margin-inline: auto;
  max-width: 70ch;
}

.blog-post-title {
  font-size: var(--text-lg);
  margin: 2rem auto;
  text-align: center;
}

.blog-post-date {
  font-size: 1.125rem;
  margin-block: 2rem;
  text-align: center;
}

.blog-post-image {
  aspect-ratio: 3/2;
  height: 100%;
  margin-inline: auto;
  object-fit: cover;
  width: 100%;
}

.blog-post-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.blog-post-paragraph {
  letter-spacing: 0.25px;
  line-height: 1.75;
}

.blog-post-snippet {
  margin-inline: auto;
  max-width: 100%;
  overflow-x: auto;
}

.blog-post-footer {
  align-items: center;
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 2rem;
  justify-content: center;
  margin-block-start: 5rem;
  text-align: center;
}