@import "../styles/global.css";

.blog-title {
	font-size: var(--text-xxl);
	margin-block: 2rem;
	text-align: center;
}

.blog-tabs-container [type="radio"] {
	border-width: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.blog-tabs {
	border-radius: 0.5rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin-block-end: 3rem;
	margin-inline: auto;
	max-width: 24rem;
}

.blog-tab > label {
	background: #eee;
	border: 1px solid #ccc;
	color: #666;
	cursor: pointer;
	display: block;
	font-weight: 600;
	letter-spacing: 1px;
	padding-block: 0.75rem;
	transition: color 0.3s;
	text-align: center;
}

.blog-tabs-container:has([type="radio"]:focus) .blog-tabs {
	outline: -webkit-focus-ring-color auto 1px;
}

.blog-tab:first-child > label {
	border-radius: 0.5rem 0 0 0.5rem;
}

.blog-tab:last-child > label {
	border-inline-start: none;
	border-radius: 0 0.5rem 0.5rem 0;
}

.blog-tab:hover > label {
	color: #333;
}

.blog-tab-content {
	display: none;
}

.blog-tabs-container
	[type="radio"]:nth-of-type(1):checked
	~ .blog-tabs
	.blog-tab:nth-of-type(1)
	label,
.blog-tabs-container
	[type="radio"]:nth-of-type(2):checked
	~ .blog-tabs
	.blog-tab:nth-of-type(2)
	label {
	background: #fff;
	color: #222;
}

.blog-tabs-container
	[type="radio"]:nth-of-type(1):checked
	~ .blog-tab-content:nth-of-type(1),
.blog-tabs-container
	[type="radio"]:nth-of-type(2):checked
	~ .blog-tab-content:nth-of-type(2) {
	display: block;
}

.blog-preview-list {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	justify-content: center;
	margin-inline: auto;
	max-width: 60rem;
}

.blog-preview-link {
	background-color: var(--bg2);
	border-radius: 1rem;
	border: 1px solid color-mix(in oklab, var(--fg1) 25%, transparent);
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	max-width: 16rem;
	padding: 1.5rem;
	text-decoration: inherit;
	transition: transform 0.2s ease-in-out;
}

.blog-preview-link small {
	margin-block-start: auto;
	text-align: right;
}

.blog-preview-link:hover {
	transform: scale(1.05);
}

.blog-preview-title {
	font-size: 1.5rem;
	line-height: 1.25;
}

.blog-preview-image {
	aspect-ratio: 3/2;
	margin-inline: auto;
	object-fit: cover;
}

.blog-preview-text {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.blog-preview-link p {
	margin-block-end: 1rem;
}

@media (min-width: 700px) {
	.blog-preview-link {
		flex-direction: row;
		gap: 1.5rem;
		max-width: 36rem;
		min-width: 36rem;
	}

	.blog-preview-title {
		margin-block-end: 0.25rem;
	}

	.blog-preview-image {
		width: 18rem;
	}

	.blog-preview-text {
		width: 100%;
	}
}
