@import "../styles/global.css";

.blog-title {
  font-size: var(--text-xxl);
  margin-block: 6rem 2rem;
  text-align: center;
}

.blog-preview-list {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  margin-inline: auto;
  max-width: 80rem;
}

.blog-preview-link {
  border-radius: 1rem;
  border: var(--border);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 16rem;
  padding: 1rem 1rem 1.5rem;
  transition: transform 0.2s ease-in-out;
}

.blog-preview-link:hover {
  transform: scale(1.075);
}

.blog-preview-title {
  font-size: 1.5rem;
  text-align: center;
}

.blog-preview-image {
  height: 10.5rem;
  object-fit: cover;
}

.blog-post {
  margin-inline: auto;
  max-width: 70ch;
}

.blog-post-title {
  font-size: var(--text-lg);
  margin: 6rem auto 2rem;
  text-align: center;
}

.blog-post-date {
  font-size: 1.125rem;
  margin-block: 2rem;
  text-align: center;
}

.blog-post-image {
  aspect-ratio: 3/2;
  height: 100%;
  margin-inline: auto;
  object-fit: cover;
  width: 100%;
}

.blog-post-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.blog-post-paragraph {
  letter-spacing: 0.25px;
  line-height: 1.75;
}

.blog-post-footer {
  align-items: center;
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 2rem;
  justify-content: center;
  margin-block-start: 5rem;
  text-align: center;
}

.blog-post-link {
  text-decoration: underline;
}