@use "../../utils/style" as *;

.About {
  margin-top: 4rem;
  padding-inline: 1rem;

  &__subtitle {
    margin-bottom: 1rem;

    &:not(:first-child) {
      margin-top: 1.5rem;
    }
  }

  &__text {
    margin: rem(4) 0;

    &-link {
      font-weight: 700;
      white-space: nowrap;
    }
  }

  &__content {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 4rem 0;
    justify-content: center;
    margin-block: 4rem 8rem;
  }

  &__image {
    border-radius: $radius-xl;
    border: rem(2) solid $blue;
    max-width: rem(300);
    width: 90%;
  }

  &__info {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    max-width: 24rem;
    padding-inline: 1.5rem;
  }

  &__link {
    @include hover-underline();

    &-container {
      margin: 4rem auto 0;
      max-width: fit-content;
      text-transform: uppercase;
    }
  }
}