@use "../../utils/style" as *;

.Article {
  &__main {
    margin: 0 auto;
    max-width: $lg;
    text-align: center;
  }

  &__title {
    margin-block: 2rem 4rem;
  }

  &__image {
    &-container {
      border: rem(1) solid $blue;
    }
  }

  &__date {
    margin-block: 2rem;
  }

  &__content {
    max-width: 80ch;
    text-align: left;
  }

  &__paragraph {
    margin: 1rem 1.5rem 0;
  }

  &__link {
    @include hover-underline();

    margin: 1rem;

    &-container {
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 4rem;
      justify-content: center;
      margin-top: 8rem;
      text-transform: uppercase;
    }

    &-section {
      display: flex;
      gap: 1rem;
    }
  }
}