@use "../../utils/style" as *;

.Article {
  max-width: $sm;
  width: 100%;

  &__main {
    margin: 0 auto;
    max-width: $lg;
    text-align: center;
  }

  &__title {
    margin-block: 2rem 4rem;
  }

  &__image {
    &-container {
      border: rem(1) solid $blue;
    }
  }

  &__date {
    margin-block: 2rem;
  }

  &__content {
    padding-inline: 1.5rem;
    text-align: left;
  }

  &__paragraph {
    font-size: clamp(1.125rem, 2.75vmin, 1.25rem);
    letter-spacing: rem(0.5);
    line-height: 1.4;
    margin: 1.5rem auto 0;
    max-width: 60ch;
  }

  &__link {
    @include hover-underline();

    margin: 1rem;

    &-container {
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 4rem;
      justify-content: center;
      margin-top: 8rem;
      text-transform: uppercase;
    }

    &-section {
      display: flex;
      gap: 1rem;
    }
  }
}