@use "../../utils/style" as *;

.Image {
  &__background {
    width: 100%;
  }

  &__content {
    align-items: center;
    background-image: linear-gradient(to top,
        rgba(34, 49, 63, 0.6),
        rgba(34, 49, 63, 0.6));
    display: flex;
    flex-direction: column;
    flex: 1;
    height: min(80vh, 100vw);
    justify-content: space-between;
    padding: clamp(2rem, 20%, 10vh) 15%;
    text-align: center;

    * {
      color: $white;
    }
  }

  &__copyright {
    padding-inline: 1.5rem;
  }
}