@use "../../utils/style" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: $blue;
  text-decoration: none;
  list-style: none;
}

.Layout {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100vh;
  text-align: center;
}

h1 {
  font-size: clamp(2rem, 10vw, 3.5rem);
}

h2 {
  font-size: clamp(1.75rem, 8.5vmin, 3rem);
}

h3 {
  font-size: clamp(1.5rem, 7vmin, 2.5rem);
}

h4 {
  font-size: clamp(1.25rem, 5.5vmin, 2rem);
}

h5 {
  font-size: clamp(1.25rem, 4vmin, 1.75rem);
}

h6 {
  font-size: clamp(1.125rem, 3vmin, 1.5rem);
}

p,
a,
button {
  font-size: clamp(1rem, 2.5vmin, 1.125rem);
}