@use "../../utils/style" as *;

.Website {
  $border: rem(2) solid $blue;

  background: $white;
  color: $blue;
  display: inline-block;
  margin-block-end: 8rem;

  &__description {
    font-size: clamp(1.125rem, 2.75vmin, 1.25rem);
    margin-block-start: 1rem;
    text-align: left;
  }

  &__title {
    max-width: fit-content;

    &-container {
      display: flex;
      justify-content: center;
      margin-block-end: 1rem;
    }
  }

  &__image-container {
    border: $border;
  }

  &__link {
    &-container {
      margin-block-start: 0.25rem;
    }
  }

  &__content {
    max-width: $sm;
  }
}