@use "../../utils/style" as *;

.Website {
  $border: rem(2) solid $blue;

  background: $white;
  color: $blue;
  display: inline-block;
  justify-content: center;
  margin-bottom: 10rem;

  &__description {
    font-size: clamp(1.125rem, 2.75vmin, 1.25rem);
    margin-block: 1rem 2rem;
    text-align: left;
  }

  &__title {
    max-width: fit-content;

    &-container {
      display: flex;
      justify-content: center;
      margin-block: 1rem;
    }
  }

  &__image-container {
    border: $border;
  }

  &__link {
    border: $border;
    border-radius: $radius;
    color: $blue;
    max-width: rem(275);
    padding: 1rem 2rem;

    &:hover {
      background: $light-blue;
    }
  }

  &__content {
    max-width: $sm;
  }
}