@import "./reset.css";

:root {
	--blue: #2563eb;
	--nav-height: 4rem;
	--text-lg: clamp(1.25rem, 7.5vmin, 2.5rem);
	--text-xl: clamp(1.5rem, 8.75vmin, 3rem);
	--text-xxl: clamp(1.75rem, 10vmin, 3.5rem);

	--bg1: #f9fafb;
	--bg2: #ffffff;
	--fg1: #111827;
	--fg2: #4b5563;
}

html {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	scroll-behavior: smooth;
}

@media not all and (min-width: 400px) {
	html {
		font-size: 14px;
	}
}

@media (min-width: 1500px) {
	html {
		font-size: 18px;
	}
}

body {
	background-color: var(--bg1);
	color: var(--fg1);
	overflow-x: hidden;
}

body.dark {
	--bg1: #111827;
	--bg2: #1f2937;
	--fg1: #f9fafb;
	--fg2: #9ca3af;
}

@media (prefers-color-scheme: dark) {
	body.noscript {
		--bg1: #111827;
		--bg2: #1f2937;
		--fg1: #f9fafb;
		--fg2: #9ca3af;
	}
}

.page {
	display: flex;
	flex-direction: column;
	gap: 10rem;
}

.page-wrapper {
	min-height: 100vh;
}

.page-nav {
	align-items: center;
	backdrop-filter: blur(0.75rem);
	-webkit-backdrop-filter: blur(0.75rem);
	background-color: color-mix(in oklab, var(--bg1) 80%, transparent);
	box-shadow: 0 0 0.25rem color-mix(in oklab, var(--fg1) 50%, transparent);
	display: flex;
	height: var(--nav-height);
	justify-content: space-between;
	left: 0;
	position: fixed;
	top: 0;
	transition: opacity 0.25s ease-in-out, transform 0.5s ease-in-out;
	width: 100vw;
	z-index: 1;
}

.page-nav.hidden {
	opacity: 0;
	transform: translateY(-5rem);
}

.site-logo {
	align-items: center;
	display: flex;
	font-size: 1.5rem;
	gap: 0.5rem;
	margin-inline-start: 1rem;
	text-decoration: inherit;
}

.site-logo img {
	border-radius: 100%;
	height: 3rem;
	width: auto;
}

body.dark .site-logo img,
body.dark .nav-menu a img,
body.dark .project-links a img {
	filter: invert(1);
}

@media (prefers-color-scheme: dark) {
	body.noscript .site-logo img,
	body.noscript .nav-menu a img,
	body.dark .project-links a img {
		filter: invert(1);
	}
}

.nav-menu input,
.nav-menu span {
	display: none;
}

.nav-menu ul {
	display: flex;
	gap: 1rem;
	padding-inline-end: 1.5rem;
}

.nav-menu a[aria-current="page"],
.nav-menu a[aria-current="true"] {
	font-weight: 700;
}

.nav-menu a {
	text-decoration: inherit;
}

.nav-menu a:hover {
	text-decoration: underline;
}

.nav-menu a {
	display: block;
	width: min-content;
}

.nav-menu a img {
	height: 1.5rem;
	max-width: 1.5rem;
}

@media not all and (min-width: 700px) {
	.nav-menu {
		display: block;
		position: relative;
		right: 1.5rem;
		top: 0;
		transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
		user-select: none;
		z-index: 1;
		-webkit-user-select: none;
	}

	.nav-menu input,
	.nav-menu span {
		display: block;
	}

	.nav-menu:has(input:checked),
	body.noscript .nav-menu:has(a:focus):not(:has(input:checked)) {
		transform: translateX(1rem);
	}

	body.dark .nav-menu a img {
		filter: none;
	}

	body:not(.dark) .nav-menu a img {
		filter: invert(1);
	}

	.nav-menu input {
		cursor: pointer;
		display: block;
		height: 2rem;
		opacity: 0;
		position: absolute;
		right: -0.5rem;
		top: -0.5rem;
		width: 2.5rem;
		z-index: 2;
		-webkit-touch-callout: none;
	}

	.nav-menu input:checked {
		right: 0.25rem;
		top: -0.75rem;
		width: 2rem;
	}

	.nav-menu span {
		background-color: var(--fg1);
		border-radius: 0.2rem;
		display: block;
		height: 0.25rem;
		margin-bottom: 5px;
		position: relative;
		transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
			background-color 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
		transform-origin: 0.25rem 0px;
		width: 33px;
		z-index: 1;
	}

	.nav-menu span:first-child {
		transform-origin: 0% 0%;
	}

	.nav-menu span:nth-last-child(2) {
		transform-origin: 0% 100%;
	}

	.nav-menu input:checked ~ span,
	body.noscript .nav-menu:has(a:focus) input:not(:checked) ~ span {
		background-color: var(--bg1);
		transform: rotate(45deg) translate(-2px, -1px);
	}

	.nav-menu input:checked ~ span:nth-last-child(3),
	body.noscript
		.nav-menu:has(a:focus)
		input:not(:checked)
		~ span:nth-last-child(3) {
		opacity: 0;
		transform: scale(0.2, 0.2);
	}

	.nav-menu input:checked ~ span:nth-last-child(2),
	body.noscript
		.nav-menu:has(a:focus)
		input:not(:checked)
		~ span:nth-last-child(2) {
		transform: rotate(-45deg) translate(0, -1px);
	}

	.nav-menu ul {
		background-color: var(--fg1);
		border-bottom-left-radius: 1rem;
		border-bottom: 1px solid var(--bg1);
		border-left: 1px solid var(--bg1);
		color: var(--bg1);
		flex-direction: column;
		font-size: 1.125rem;
		list-style-type: none;
		margin: -3rem 0 0 4rem;
		padding: 4rem 1.5rem 1.5rem;
		position: absolute;
		transform-origin: 0% 0%;
		transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
		width: 6rem;
	}

	.nav-menu input:checked ~ ul,
	body.noscript .nav-menu:has(a:focus) input:not(:checked) ~ ul {
		transform: translate(-100%, 0);
	}
}

@media not all and (min-width: 700px) and (prefers-color-scheme: dark) {
	body.noscript .nav-menu a img {
		filter: none;
	}
}

.page-content {
	margin-block-start: var(--nav-height);
	max-width: 100vw;
	overflow-x: hidden;
	padding: 0 1.5rem 1.5rem;
}

.page-footer {
	align-items: center;
	display: flex;
	flex-wrap: wrap-reverse;
	gap: 1rem 2rem;
	justify-content: center;
	padding: 0 1.5rem 1.5rem;
}

.bmc-link {
	background-color: #ffffff;
	border-radius: 0.5rem;
	box-shadow: 0 0 0.25rem color-mix(in oklab, var(--fg1) 50%, transparent);
	padding: 0.25rem 0.75rem;
	width: 8rem;
}

.dark-mode-toggle {
	font-size: 1.5rem;
}

.slide-in {
	filter: blur(0.25rem);
	opacity: 0;
	transform: translateX(-100%);
	transition-duration: 1s;
	transition-property: blur, opacity, transform;
}

.slide-in:nth-child(even) {
	transform: translateX(100%);
}

.noscript .slide-in,
.slide-in.show {
	filter: blur(0);
	opacity: 1;
	transform: translateX(0);
}

@media (prefer-reduced-motion: reduce) {
	.slide-in {
		transition: none;
	}
}
