* {
  font: inherit;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

button {
  border: none;
  background: inherit;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

p {
  text-wrap: pretty;
}

ul {
  list-style: none;
}